<body>
    <h1>So. Done.</h1>
    {% include 'partials/_nav.html' %}
    <h3>Create iconic (icon based) To-Do lists and schedules to better visualize your goals and plans!</h3>

    <h2>Icons</h2>
    <table border="2">
        {% for i in myicons %}
        <tr>
            <td>{{i.id}}</td>
            <td><img width = '50px' src = '{{i.icon_img }}' alt = {{i.icon_decription}}/></td>
            <td>{{i.icon_description}}</td>
            <td>{{i.time_todo}}</td>
            <td><a href="/icons/delete/{{i.id}}" style="color:red">X</a></td>
            <td><a href="/icons/update/{{i.id}}">Update</a></td>
        </tr>
        {% endfor %}
        
    </table>
    <button> <a href="add/">Add Icon</a></button> 
    <h2>Lists</h2>
    <table border = '2'>
        {% for j in mylist %}
        <tr border ="1">
            <td>{{j.id}}</td>
            <td>{{j.list_name}}</td>
            <td>{{j.list_description}}</td>
            <td><a href="/icons/delete_list/{{j.id}}" style="color:red">X</a></td> 
            <td><a href="/icons/update_list/{{j.id}}">Update</a></td>
        {% endfor %}
        
    </table>

      <button> <a href="add_list/">Add List</a></button> 

      {% include 'partials/_footer.html' %}

</body>